.medincine {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }

  .medincine h3 {
    margin: 0 0 0.25rem 0;
  }

  .description {
    font-style: italic;
  }

  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #e83e46;
    font-size: 1.2rem;
  }

  .quantity{
      margin-top: 0.25rem;
      font-weight: bold;
      color: #6b0e44;
      font-size: 1.2rem;
    
  }
  .detailsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }